:root {
  --main-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
}

.container {
  width: 100%;
  max-width: 1316px;
  padding: 0 8px;
  margin: 0 auto;
}